<strong>olá, {{ provider }}</strong>
<p>Um novo usuario acaba de se inscrever no meetup: {{ meetup }}</p>
<p>
  <strong>Usuario:</strong> {{ user }} <br />
  <strong>Data Meetup:</strong> {{ date }} <br />
  <br />
</p>
